.navbar-custom {
    padding-top: 10px;
    padding-bottom: 10px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(59, 147, 224, 0.103);
    margin-bottom: 15px;
}

footer {
    margin-top: 40px;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    font-size: 12px;
    background-color: rgba(59, 147, 224, 0.103);
    padding: 10px;
}

.title {
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: -1px;
    font-size: 25px;
    color: #333333;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 1.1;
}

.subtitle {
    font-size: 15px;
    font-family: 'IBM Plex Mono', monospace;
}

.lwc-footer {
    font-weight: bold;
    color: #02a0e0;
    text-decoration: none;
}

.logo {
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -1px;
    cursor: pointer;
}

.menu-button {
    margin: 0;
    font-size: 20px;
    font-family: 'IBM Plex Mono', monospace;
    cursor: pointer;
}

.right {
    text-align: right;
}

.submenu {
    border-top: 1px solid rgb(243, 240, 240);
    border-bottom: 1px solid rgb(243, 240, 240);
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
}

.menu-item {
    margin-right: 10px;
    text-decoration: none;
}

.card-custom {
    border: 1px solid rgb(207, 203, 203);
    box-shadow: 1px 15px 46px -10px rgba(0,0,0,0.39);
    height: 250px;
    width: 157px;
    margin-bottom: 15px;
}

.card-custom img {
    height: 250px;
    width: 157px;
}

.image-card {
    object-fit: cover;
}


.search {
    border: 1px solid #dddbda;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border-radius: 4px;
}

.search:focus {
        outline: 0;
    border-color: #1589ee;
    background-color: #fff;
    box-shadow: 0 0 3px #0070D2;
}

.search-div {
    margin-bottom: 15px;
    position: relative;
}

.delete-button {
    border: 1px solid rgb(224, 217, 217);
    border-radius: 50%;
    padding: 1px 6px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 42px;
    right: 25px;
    background-color: rgba(59, 147, 224, 0.103);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

h6 {
    margin: 0;
}

h2 {
    margin: 0;
}